.composer-rating {
  padding: 3px 7px;
  .rating {
    margin-left: 2px;
  }
}

.topic-post .rating {
  vertical-align: top;
}

span.rating {
 font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 180px;
  height: 18px;
  overflow: hidden;
  position: relative;
  background:     url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+Cjxzdmcgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogPCEtLSBDcmVhdGVkIHdpdGggU1ZHLWVkaXQgLSBodHRwOi8vc3ZnLWVkaXQuZ29vZ2xlY29kZS5jb20vIC0tPgogPGc+CiAgPHRpdGxlPkxheWVyIDE8L3RpdGxlPgogIDxwYXRoIGlkPSJzdmdfNyIgZD0ibTkuNTk2MDYxLDE0LjMyNTk3NGwtNS4yNTM4MzksMy42ODQyNjlsMi4wMDgzMzQsLTUuOTU5NjhsLTUuMjUyNjU3LC0zLjY4NDI2OWw2LjQ5Mjc4NywwLjAwMTE0MmwxLjcyNTY1NCwtNS4xMjQ1MjVsMC4yODE0OTgsLTAuODMyM2wyLjAwNDc4Niw1Ljk1NTY4NWg2LjQ5NDU2bC01LjI1NTAyMywzLjY4NDI2OWwyLjAwODkyNiw1Ljk2MTM5M2wtNS4yNTUwMjYsLTMuNjg1OTg0bDAsMHoiIHN0cm9rZS1saW5lY2FwPSJudWxsIiBzdHJva2UtbGluZWpvaW49Im51bGwiIHN0cm9rZT0iI2FhZmY1NiIgZmlsbD0iI2ZmZmZhYSIvPgogPC9nPgo8L3N2Zz4=');
  background-size: contain;
  i {
    opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 10%;
  z-index: 1;
  background:     url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+Cjxzdmcgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogPCEtLSBDcmVhdGVkIHdpdGggU1ZHLWVkaXQgLSBodHRwOi8vc3ZnLWVkaXQuZ29vZ2xlY29kZS5jb20vIC0tPgogPGc+CiAgPHRpdGxlPkxheWVyIDE8L3RpdGxlPgogIDxwYXRoIGlkPSJzdmdfNyIgZD0ibTkuNTk2MDYxLDE0LjMyNTk3NGwtNS4yNTM4MzksMy42ODQyNjlsMi4wMDgzMzQsLTUuOTU5NjhsLTUuMjUyNjU3LC0zLjY4NDI2OWw2LjQ5Mjc4NywwLjAwMTE0MmwxLjcyNTY1NCwtNS4xMjQ1MjVsMC4yODE0OTgsLTAuODMyM2wyLjAwNDc4Niw1Ljk1NTY4NWg2LjQ5NDU2bC01LjI1NTAyMywzLjY4NDI2OWwyLjAwODkyNiw1Ljk2MTM5M2wtNS4yNTUwMjYsLTMuNjg1OTg0bDAsMHoiIHN0cm9rZS1saW5lY2FwPSJudWxsIiBzdHJva2UtbGluZWpvaW49Im51bGwiIHN0cm9rZT0iIzAwN2YwMCIgZmlsbD0iIzdmZmYwMCIvPgogPC9nPgo8L3N2Zz4=');
  background-size: contain;
  }
  input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    cursor: pointer;
    display:inline-block;
    width: 10%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
    border: none;
    &:hover:not(:disabled) + i,
    &:checked + i{
      opacity: 1;
    }
    &:disabled {
      cursor: initial;
    }
  }

  i ~ i {
  width: 20%;
}
i ~ i ~ i {
  width: 30%;
}
i ~ i ~ i ~ i {
  width: 40%;
}
i ~ i ~ i ~ i ~ i {
  width: 50%;
}
i ~ i ~ i ~ i ~ i ~ i {
  width: 60%;
}
i ~ i ~ i ~ i ~ i ~ i ~ i {
  width: 70%;
}
i ~ i ~ i ~ i ~ i ~ i ~ i ~ i {
  width: 80%;
}
i ~ i ~ i ~ i ~ i ~ i ~ i ~ i ~ i {
  width: 90%;
}
i ~ i ~ i ~ i ~ i ~ i ~ i ~ i ~ i ~ i {
  width: 100%;
}
}
